TOKEN=your_meta_whatsapp_access_token
MYTOKEN=your_own_webhook_verify_token
APP_SECRET=your_meta_app_secret
GRAPH_API_VERSION=v25.0
LOG_LEVEL=INFO
AUTO_REPLY=false
PHONE_NUMBER_ID=your_business_phone_number_id
